{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter="scssphp" output="css/app.css"
    'assets/css/index.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            <input type="submit" formaction="{{ path('new_story') }}" class="new-button" value="New Story" name="new_story">
        </form>
    </div>
{% endblock %}
