{% extends 'Story/story.html.twig' %}

{% block edit_story_form %}
    <form onsubmit="addWord()">
        <input type="text" class="next-word" placeholder="Type Word" name="next_word" id="next_word">
        {#<input type="submit" formaction="{{ path('signup') }}" class="signup-button" value="Sign Up" name="signup">#}
        {#<input type="submit" class="add-word" value="Add Word" name="add_word">#}
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/js/edit_story.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

