{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter="scssphp" output="css/app.css"
    'assets/css/index.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container">

        <div class="title">
            <p>
                StoryTime
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    Username: {{ app.user.username }}
                {% endif %}
            </p>
        </div>
        <div class="square-text" >
            {{ body }}
        </div>
        {% block edit_story_form %}
        {% endblock %}
    </div>
{% endblock %}
